<link rel="stylesheet" href="/scss/header.css">

<header>
    Page Header

        <% if(locals.user){ %>
            <span>
                <button>
                    <a href="/users/profile">
                        <%= user.name %>
                    </a>
                </button>
                <button>
                    <a href="/users/sign-out">Sign Out</a>
                </button>
            </span>

        <% }else{ %>

            <span>
                <button>
                    <a href="/users/sign-in">Sign In</a>
                </button>
                <button>
                    <a href="/users/sign-up">Sign Up</a>
                </button>
            </span>

        <% } %>  
    
</header>