header{
    height: 50px;
    background-color: darkcyan;
    color: white;
    font-size: 30px;
    padding: 5px;
    
    span {
        position: absolute;
        right: 5%;
        button {
            height: 30px;
            background-color: darkgreen;
            a{
                color: white;
                text-decoration: none;
            }
        }
        button:hover{
            background-color: darkblue;
        }
    }
    
}